@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
section{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url("madhu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 85%;
    margin: auto;
}
nav{
    height: 80px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: aqua;
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}
nav ul li a:hover{
    background-color: rgb(7, 176, 223);
    transition: 0.5s ease;
}
nav ul li .active{
    background-color: rgb(24, 137, 171);
}
.article{
    width: 80%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.article h1{
    font-size: 36px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}
.article{
    font-size: 18px;
    color: #c58e0f;
    line-height: 1.5;
    margin-bottom: 50px;

}
.article .btn{
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: aquamarine;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}